<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
    //hide fadeout messages
    $(document).ready(function(){
            var timeout = 2000; // in miliseconds
            $('.errors').delay(timeout).fadeOut(300);
            $('.success').delay(timeout).fadeOut(300);
        });
    </script>
</head>
<body>
    <div class='container'>
        <div class='login'>
            <% if(typeof errorMessage !== 'undefined') { %>
                <p class='errors'><%= errorMessage %></p>
            <% } %>
            <h1>Login</h1>
            <form action="/login_form" method='post'>
                <label for="email">Email Address: </label>
                <input type="email" name='email' id='email'>
    
                <label for="password">Password: </label>
                <input type="password" name='password' id='password'>
    
                <input type="submit" value='Login'>
            </form> 
        </div>
        <div class='register'>
            <% if(typeof errorRequired !== 'undefined') { %>
                <p class='errors'><%= errorRequired %></p>
            <% } else if(typeof errorEmail !== 'undefined') { %>
                <p class='errors'><%= errorEmail %></p>
            <% } else if(typeof passwordMismatch !== 'undefined') { %>
                    <p class='errors'><%= passwordMismatch %></p>
            <% } else if(typeof registeredSuccess !== 'undefined') { %>
                <p class='success'><%= registeredSuccess %></p>
            <% } %>
            <h1>or Register an Acccount</h1>
            <form action="/register_form" method='post'>
                <label for="first_name">First Name: </label>
                <input type="text" name='first_name' id='first_name'>
    
                <label for="last_name">Last Name: </label>
                <input type="text" name='last_name' id='last_name'>
    
                <label for="email">Email Address: </label>
                <input type="email" name='email' id='email'>
    
                <label for="password">Password: </label>
                <input type="password" name='password' id='password'>
    
                <label for="confirm-password">Confirm Password: </label>
                <input type="password" name='confirm_password' id='confirm-password'>
    
                <input type="submit" value='Register'>
            </form>
        </div>
    </div>
</body>
</html>